<h1> Hello World </h1>
<% @timeslots.each do |timeslot| %>
<p> start time <%= timeslot.start_time %></p><br>
<p> availability <%= timeslot.availability %></p><br>
<p> duration <%= timeslot.duration %></p><br>
<p> customer count <%= timeslot.customer_count %></p><br>
<% end %>